* {
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: #8892b0;
    margin: 50px;
    color: #0a192f;
}

.container {
    background-color: #8892b0;
}

.jumbotron {
    background-color: #8892b0;
}

.navbar-brand {
    background-color: #8892b0;
    color: #0a192f;
}

.nav-link {
    color: #0a192f;

}

.card {
    background-color: #8892b0;
    border: none;
}

.card img {
    object-fit: cover;
    height: 200px;
    width: 325px;
    padding: 10px;

}

footer {
    padding: 30px;
    text-align: center;
}

/* @media screen and (max-width:768px) {
    nav {
      flex: 0 0 100%;
    }
  } */